[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
djangorestframework = "*"
mysqlclient = "*"
pytz = "*"
sqlparse = "*"
Django = "*"

[dev-packages]

[requires]
python_version = "3.9"
